<h1 class="display-6">Experiencia</h1>
    <div class="d-flex">
        <div class="card mb-3 me-auto" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/imagenes/saaes.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> Soporte tecnico</h5>
                  <p class="card-text">Jornada tiempo completo 1 año 2 meses institucion: aeropuerto año: 2018 </p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        <div class=""> <a href=""><i class="bi bi-pen-fill"></i></a></div>
        <div class=""><a href=""><i class="bi bi-x-lg"></i></a></div>
        <hr>
    </div>