
  <div class="text-center" *ngIf="estalogueado()">
    <H1>BIENVENIDOS AL MODO EDICION</H1>
  </div>


  <!-- cabecera  -->
  <div class="barranav">
    <nav class="navbar navbar-light  ">
      <img src="assets/imagenes/argprograma.png" alt="banner" width="200" height="60">
      <ul class="nav justify-content-end">
        <app-redes></app-redes>
      </ul>
      <app-login></app-login>
    </nav>
  </div>

  <!-- banner y foto -->
    <div class="banner">
      <div class="perfilactual">
        <img src="assets/imagenes/{{info?.fotoPerfil}}" class="rounded " alt="imagen perfil" width="200" height="280">
        <button type="button" *ngIf="estalogueado()" (click)="traerItem(info.id)" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#modaledit-foto">
          <i class="bi bi-pen"></i>
        </button>
      </div>
      <h1 class="text-white text-center">Portfolio Tecnológico</h1>
    </div>
  

  <!--info perfil -->
 <!--
  <div class="container">
    <div class="card" style="width: 15rem;">
      <div class="card-body">
        <button type="button" *ngIf="estalogueado()" (click)="traerItem(info?.id)" class="btn btn-outline-info"
          data-bs-toggle="modal" data-bs-target="#modaledit-persona">
          <i class="bi bi-pen"></i>
        </button>
        <h5 class="card-title text-uppercase">{{info?.nombre}}</h5>
        <h5 class="card-title text-uppercase">{{info?.apellido}}</h5>
        <p class="card-title text-uppercase">{{info?.edad}} Años </p>

        <p class="card-text">{{info?.tituloDesarrollador}}</p>
      </div>
    </div>
  </div> -->

  <div class="info">
    <h1 class="text-center fst-italic">{{info?.nombre}} {{info?.apellido}}</h1>
    <div class="d-flex margen" >
      <p class="fw-bold">
        {{info?.tituloDesarrollador}}<br>
         {{info?.edad}} Años <br>
         {{info?.direccion}}
      </p>
      <p class="fw-bold">

        {{info?.emailPrincipal}}<br>
        {{info?.emailAlternativo}}<br>
        {{info?.telefono}}
      </p>
      <div class="boton">
        <button type="button" *ngIf="estalogueado()" (click)="traerItem(info?.id)" class="btn btn-outline-info"
         data-bs-toggle="modal" data-bs-target="#modaledit-persona">
         <i class="bi bi-pen"></i>
        </button>
      </div>
    </div>
  </div>

  
  <!-- Acerca de -->
  <div class="container info">
    <h1>Acerca de</h1>
    <div class=" text-end">
      <button type="button" *ngIf="estalogueado()" (click)="traerItem(info?.id)" class="btn btn-outline-info"
        data-bs-toggle="modal" data-bs-target="#modaledit-about">
        <i class="bi bi-pen"></i>
      </button>
    </div>
      <p class ="acercade">{{info?.about}} </p>  
  </div>
    
  

 <!-- Modales-->

 <!-- Modaledit-fotoperfil --> 
  <div class="modal fade" id="modaledit-foto" tabindex="-1">
     <div class="modal-dialog">
       <div class="modal-content">
         <form [formGroup]="form" (ngSubmit)="editarItem($event)" >
          <div class="modal-header">
            <h1 class="modal-title">Editar Foto Perfil</h1>
          </div>
          <div class="modal-body">
            <input type="hidden" class="form-control" formControlName="id">
            <div class="mb-3 row">
              <label for="" class="col-sm-2 col-form-label">Foto:</label>
              <div class="col-sm-10">
                
                <input type="text" formControlName="fotoPerfil" name="fotoPerfil" id="fotoPerfil" class="form-control" value="{{infoEdit?.fotoPerfil}}"> 
               </div>
            </div>
            </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
          </div>
             </form>
        </div>
       </div>  
    </div>

    <!-- Modaledit-about--> 
  <div class="modal fade" id="modaledit-about" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="form" (ngSubmit)="editarItem($event)">
         <div class="modal-header">
           <h1 class="modal-title">Editando Acerca de...</h1>
         </div>
         <div class="modal-body">
            
           <input type="hidden" class="form-control" formControlName="id">
           <div class="mb-3 row">
            <div>
                <label for="" class="col-sm-2 col-form-label">Informacion:</label>
            </div>
             <div class="col-sm-10">
                 <input type="text" formControlName="about" class="form-control" value="{{infoEdit?.about}}">
              </div>
           </div>
           </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
             <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
         </div>
            </form>
       </div>
      </div>  
   </div> 

     <!-- Modaledit-persona  -->
  <div class="modal fade" id="modaledit-persona" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="form" (ngSubmit)="editarItem($event)">
         <div class="modal-header">
           <h1 class="modal-title">Datos Personales</h1>
         </div>
         <div class="modal-body">
           <input type="hidden" class="form-control" formControlName="id">
           <div class="mb-3 row">
                <label for="" class="col-sm-2 col-form-label">Nombre:</label>
                <div class="col-sm-10">
                    <input type="text" formControlName="nombre" class="form-control" value="{{infoEdit?.nombre}}">
             </div>
           </div>
            <div class="mb-3 row">
                <label for="" class="col-sm-2 col-form-label">Apellido:</label>
                <div class="col-sm-10">
                    <input type="text" formControlName="apellido" class="form-control" value="{{infoEdit?.apellido}}">
                </div>
           </div>
           <div class="mb-3 row">
                <label for="" class="col-sm-2 col-form-label">Edad:</label>
                 <div class="col-sm-10">
                    <input type="text" formControlName="edad" class="form-control" value="{{infoEdit?.edad}}">
                </div>
           </div>
           <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Titulo:</label>
            <div class="col-sm-10">
                 <input type="text" formControlName="tituloDesarrollador" class="form-control" value="{{infoEdit?.tituloDesarrollador}}">
             </div>
           </div>
           <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Email Principal:</label>
            <div class="col-sm-10">
                 <input type="text" formControlName="emailPrincipal" class="form-control" value="{{infoEdit?.emailPrincipal}}">
             </div>
           </div>
           <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Email Alternativo:</label>
            <div class="col-sm-10">
                 <input type="text" formControlName="emailAlternativo" class="form-control" value="{{infoEdit?.emailAlternativo}}">
             </div>
           </div>
           <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Telefono:</label>
            <div class="col-sm-10">
                 <input type="text" formControlName="telefono" class="form-control" value="{{infoEdit?.telefono}}">
             </div>
           </div>
           <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Direccion:</label>
            <div class="col-sm-10">
                 <input type="text" formControlName="direccion" class="form-control" value="{{infoEdit?.direccion}}">
             </div>
           </div>
           </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
             <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
         </div>
            </form>
       </div>
      </div>  
   </div>